body {
    background-image: url("/assets/images/Lassen.jpg");
    background-size: cover, auto, auto;
    background-position: auto;
    background-repeat: no-repeat;
    list-style-position: inside;
}

#nav-div {
    background-color: #002500;
}

#nav-logo {
    padding-left: 15px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  #footer-container {
      padding-bottom: 20px;
  }

  #page-footer {
      background-color: #002500;
  }

  #main-bio {
    background-color: #92998280;
    position: relative;
    padding: 50px;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    align-self: center;
    align-self: stretch;
  }