body {
    background-image: url("../images/Lassen.jpg");
    background-size: cover, auto, auto;
    background-position: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    list-style-position: inside;
    font-size: 16px;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

header {
    display: flex;
}

main {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

nav {
    background-color: #37412E;
    transition: top 0.3s;
}

#npg-logo {
    height: 60px;
    width: 60px;
    margin: 2px 5px
}

#btn-search, #btn-weather {
    width: 50%;
    color: #EBF5EE;
    background-color: #C56C39;
}

.btn, .btn-large {
    background-color: #C56C39;
}

.btn:hover, .btn-large:hover {
    background-color: #CF865D;
}

form {
    margin: 20px 30px 10px 30px;
    padding: 10px;
    background-color: #37412EB3;
}

.tabs {
    background-color: transparent;
}

.featured-parks, .searched-parks, .new-member, .searched-weather {
    width: auto;
    background-color: #37412EB3;
    margin: 20px 30px 10px 30px;
    color: #EBF5EE;
    text-align: center;
}

h4 {
    height: auto;
    padding: 10px;
    margin: 10px;
}

.card {
    background-color: #37412E;
    color: #EBF5EE;
    text-align: justify;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    padding: 0px;
}

.card .card-content {
    padding: 10px;
}

.card-directions {
    padding: 10px;
}

.card-title {
    text-align: center;
    color: #EBF5EE;
    padding: 5px;
}

.card-content {
    text-align: justify;
}

.carousel {
    height: 800px;
}

.carousel .carousel-item {
    visibility: visible;
}

img {
    width: 100%;
}

.page-footer {
    background-color: #37412E;
}

.valid, .validate {
    color: #EBF5EE;
}

.input-field input[type=text].valid {
    border-bottom: 1px solid #CF865D;
    box-shadow: 0 1px 0 0 #CF865D;
}

.input-field input[type=email].valid {
    border-bottom: 1px solid #CF865D;
    box-shadow: 0 1px 0 0 #CF865D;
}

input.valid:not([type=text]):focus {
    border-bottom: 1px solid #CF865D;
    box-shadow: 0 1px 0 0 #CF865D;
}

input.valid:not([type=email]):focus {
    border-bottom: 1px solid #CF865D;
    box-shadow: 0 1px 0 0 #CF865D;
}