body {
    font-family: "Montserrat", "Open San", "Roboto";
    background-image: url("../images/Lassen.jpg");
    background-size: cover, auto, auto;
    background-position: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    list-style-position: inside;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-size: 16px;
}

#card-container, #contact-box {
    flex: 1 0 auto;
}

nav {
    background-color: #37412E;
    height: 65px;
    top: 0;
    width: 100%;
    transition: top 0.3s;
}

#title{
    text-decoration: none;
}

a.brand-logo:hover {
    color: #CF865D;
}

#nav-logo {
    text-align: center;
}
img {
    /* height: 35px; */
    width: 35px;
}

.btn {
    background-color: #c56c39;
    color: #EBF5EE;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
}

.btn:hover {
    background-color: #CF865D;
    color: #EBF5EE;
}

#logo {
    height: 50px;
    width: 50px;
    margin: 5px;
}

#main-bio, #contact-box {
    padding-left: 15px;
    background-color: #37412EB3;
    text-emphasis: bolder;
    color:#EBF5EE;
    position: relative;
    padding: 50px;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    align-self: center;
    align-self: stretch;
}

.container {
    margin-top: 20px;
    padding: 0px;
}

#featured-parks {
    padding: 0px;
}
.col.s4 {
    margin: 5px;
    padding: 0px;
}

.col.s12 {
    padding: 0px;
}

.card {
    background-color: #37412EB3;
    color: #EBF5EE;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    padding: 0px;
}

#card-1-title, #card-2-title, #card-3-title {
    text-align: center;
    color: #EBF5EE;
    padding: 10px, 5px, 10px, 5px;
}

#card-1-content, #card-2-content, #card-3-content {
    padding: 10px;
}

.input-field {
    color: #EBF5EE;
}

.card-title {
    width: 100%;
    text-align: center;
    padding: 5px;
}

#content {
    padding: 10px;
    text-align: justify;
}

.card-weather {
    padding: 10px;
    text-align: justify;
}

#featured-parks {
    background-color: #37412EB3;
    text-align: center;
    color: #EBF5EE;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
}

.valid, .validate {
    color: #EBF5EE;
}

.input-field input[type=text].valid {
    border-bottom: 1px solid #CF865D;
    box-shadow: 0 1px 0 0 #CF865D;
}

.input-field input[type=email].valid {
    border-bottom: 1px solid #CF865D;
    box-shadow: 0 1px 0 0 #CF865D;
}

input.valid:not([type=text]):focus {
    border-bottom: 1px solid #CF865D;
    box-shadow: 0 1px 0 0 #CF865D;
}

input.valid:not([type=email]):focus {
    border-bottom: 1px solid #CF865D;
    box-shadow: 0 1px 0 0 #CF865D;
}

#footer-container {
    padding-bottom: 20px;
}

#page-footer {
    background-color: #37412E;
    bottom: 0;
}

#member-name, #member-email, #member-comment {
    text-align: center;
}

#search-parks, #search-weather {
    width: 100%;
    height: 40px;
    padding: 0;
}